@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.main-logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
}

.main-logo-text {
    margin-left: 10px;
    font-family: 'Righteous', cursive;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: black;
    font-family: 'Righteous', cursive;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: #ff3300;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: white;
    font-weight: 600;
    background-color: #ff0066;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
    border: 1px #ff0066 solid;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 2px solid #ff0066;
}

.btn:focus {
    background-color: #ff0066;
}

.gradient {
    color: #79c0ff;
    background: linear-gradient(70deg, #FDA000 -1.37%, #ff0066 78.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1px;
}

@media (max-width: 500px) {

    .discord-up,
    .project-up,
    .join-down {
        display: none;
    }
}

@media (min-width: 501px) {

    .discord-down,
    .project-down,
    .join-up {
        display: none;
    }
}

.top {
    border: 1px #ff0066 solid;
    border-radius: 10px;
}