@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Theme-color1: #ff0066;
  --Theme-color2: #ff3300;
}

.text-theme-title {
  font-family: "Josefin Sans";
  font-weight: 600;
  font-size: 2rem;
}

.text-theme-desc {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.2rem;
}

/* Introduction section */
.contest-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.reg-btn {
  text-decoration: none;
  color: white;
  background-color: var(--Theme-color1);
  border: 2px solid var(--Theme-color1);
  padding: 7px 40px;
  border-radius: 999px;
  transition: all 0.15s;
}

.reg-btn:hover {
  background-color: transparent;
  color: var(--Theme-color1);
}

.vs-btn {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 10px 40px;
  border-radius: 999px;
  transition: all 0.3s;
}

.btns {
  /* line-height: 45px; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* contest-schedule */
.contest-schedule {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.schedule-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.schedule-heading {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.7rem;
}

.schedule-date {
  padding: 1rem;
  padding-right: 15rem;
  border-radius: 1rem;
  border: 1px solid black;
  display: inline-block;
}

.s-time {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 3rem;
}
.s-date {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.5rem;
}
