@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* Resetting margin, padding  */
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    /* min-height: 100vh;*/
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.main-logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
}

.main-logo-text {
    margin-left: 10px;
    font-family: 'Righteous', cursive;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: black;
    font-family: 'Righteous', cursive;
    text-decoration: none;
    margin: 1rem;
    transition: all 0.2s;
    font-size: 2rem;
}

.main-nav a:hover {
    color: #ff3300;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn-join {
    font-weight: 500;
    padding: 7px 20px;
    color: white;
    background: #ff0066;
    border: 2px solid #ff0066;
    border-radius: .5rem;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.2s;
}
.btn-join:hover {
    background: transparent;
    color: #ff0066;
}

.btn-join:active {
    transform: translateY(4px);
}

.align-btn {
    display: flex;
    gap: 1.5rem;
}

.btn {
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.2s;
    display: block;
}

.btn:hover {
    /* background-color: transparent; */
    color: #ff0066;
}

.btn:active {
    transform: translateY(4px);
}

.gradient {
    background: linear-gradient(70deg, #FDA000 -1.37%, #ff0066 78.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1px;
}

@media (max-width: 500px) {

    .discord-up,
    .github-up,
    .join-down{
        display: none;
    }
}

@media (min-width: 501px) {

    .discord-down,
    .github-down,
    .join-up{
        display: none;
    }
}

.top {
    border: 1px #ff0066 solid;
    border-radius: 10px;
}

.joining:focus {
    background-color: lightgreen;
}

.selection::selection {
    background-color: #33ffff;
    color: black;
}


/* Upcomming-Event  */
.title-sytle-theme {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    margin-left: 7vw;
    position: relative;
    margin-bottom: 2rem;
}

.title-sytle-theme::before {
    content: " ";
    background-color: #ff0066;
    position: absolute;
    width: 6.5vw;
    height: 3px;
    top: 40%;
    left: -7vw;
}

.eventlist {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin-bottom: 3rem;
}

.event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5rem;
    transform: all 0.3s;
    border-radius: 0.5rem;
}
.event:hover {
    background-color: rgba(0, 0, 0, 0.05);

}

.event-title {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.event-register {
    padding: 0.6rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    background-color: #ff0066;
    text-decoration: none;
    border: 2px solid #ff0066;
    transition: all 0.2s;
}
.event-register:hover {
    background-color: transparent;
    color: #ff0066;
}

.event-register:active {
    transform: translateY(4px);
}

.ney {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: 5rem 0;
}

@media (max-width: 500px) {
    .title-sytle-theme{
        font-size: 1.5rem;
    }
    .event-title {
        font-size: 1.2rem;
    }
    .event-desc {
        font-size: 0.8rem;
    }
}

/* Past-Event */
.past-event{
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.past-event:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.p-event-a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    display: flex;
    justify-content: space-between;
    place-items: bottom;
}

.p-event-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.past-event-mobile-view {
    display: none;
}

@media (max-width: 501px) {
    .past-event-mobile-view {
        display: block;
    }
    .past-event-desktop-view {
        display: none;
    }
    .p-event-right {
        justify-content: end;
    }
}